h1,
p {
  margin: 0;
}

.btn {
  background-color: inherit;
  border-radius: 5px;
  padding: 5px;
}
.btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn--primary {
  background-color: #ffffff;
  color: #000000;
}
.btn--primary:hover {
  background-color: lightgray;
  color: #000000;
}
